/* Para el tema ligth */
:root 
{
   --gray: #63687e;   
   --overview: #63687e;   
   --borderTheme: #63687e;
   --toogle: #aeb3cb;
   --face: #198ff5;
   --twitter: #1ca0f2;
   --lima: #1db489;
   --lima-white: #1db489;
   --instagram: linear-gradient(to right, #fdc468, #df4996);
   --youtube: #c4032a;
   --bg: #fff;
   --lightDark: #000;
   --color-item: #f0f2fa;
   --color-circle: #f0f2fa;
   /* --toogle-dark: #1e202a; */
   --right: 0;
   /* --left: unset; */
}

/* Para el tema oscuro */
:root .dark-theme 
{
   --bg: #1e202a;
   --color-item: #252a41;
   --lightDark: #fff;
   --gray: #8b97c6;
   --lima-white: #fff;
   --youtube: #dc414c;
   --overview: #fff;
   --borderTheme: #4f515994;
   --toogle: linear-gradient(to right, #378fe6, #3eda82);
   --color-circle: #1e202a;
   /* --right: unset; */
   --left: 0;
}

@media(prefers-color-scheme: dark) 
{
   :root 
   {  
      --bg: #1e202a;
      --color-item: #252a41;
      --lightDark: #fff;
      --gray: #8b97c6;
      --lima-white: #fff;
      --youtube: #dc414c;
      --overview: #fff;
      --borderTheme: #4f515994;
      --toogle: linear-gradient(to right, #378fe6, #3eda82);
      --color-circle: #1e202a;
      --right: 'unset';
      --left: 0;
   }

   :root .light-theme
   {
      --gray: #63687e;   
      --overview: #63687e;   
      --borderTheme: #63687e;
      --toogle: #aeb3cb;
      --face: #198ff5;
      --twitter: #1ca0f2;
      --lima: #1db489;
      --lima-white: #1db489;
      --instagram: linear-gradient(to right, #fdc468, #df4996);
      --youtube: #c4032a;
      --bg: #fff;
      --lightDark: #000;
      --color-item: #f0f2fa;
      --color-circle: #f0f2fa;
      /* --toogle-dark: #1e202a; */
      --right: 0;
      --left: 'unset';
   }
}

*
{
   margin: 0;
   padding: 0;
}

html 
{
   font-size: 6.25%;
}

body 
{
   width: 100%;
   height: auto;
   box-sizing: border-box;
   font-family: 'Inter', sans-serif;
   font-size: 14rem;
   background-color: var(--bg);
   transition: 0.5s ease all;
}

.dashboard, .statistics
{
   width: 85%;
   margin: 0 auto;
   margin-bottom: 50px;
}

h1 
{
   margin-top: 40px;
   font-size: 22.5rem;
   color: var(--lightDark);
   transition: 0.5s;
}

.dashboard h2 
{
   font-size: 13.4rem;
   margin-top: 5px;
   color: var(--gray);
   transition: 0.5s;
}

.theme 
{
   height: 80px;
   border-top: 0.5rem solid var(--borderTheme);
   margin-top: 20px;
   padding-top: 17px;
   box-sizing: border-box;
   display: flex;
   justify-content: space-between;
}

.theme p
{
   font-size: 13.35rem;
   font-weight: 700;
   color: var(--gray);
}

.light-dark 
{
   width: 42px;
   height: 22px;
   border-radius: 10px;
   background: var(--toogle);
   display: flex;
   position: relative;
   align-items: center;
   cursor: pointer;
   transition: 1s ease all;
}

.circle 
{
   width: 18px;
   height: 18px;
   border-radius: 50%;
   background-color: var(--color-circle);
   margin: 0 3px;
   position: absolute;
   right: var(--right);
   left: var(--left);
   transition: 0.4s ease all;
}

/* .toogle-circle
{
   left: 0;
   right: unset;
   /* background-color: var(--color-circle); 
   transition: 0.4s ease all;
} */

.container 
{
   display: grid;
   grid-template: repeat(4, 1fr) / 1fr;
   row-gap: 25px;
   text-align: center;
}

.item, .item2
{
   border-radius: 5px;
   background-color: var(--color-item);
   color: var(--gray);
   transition: 0.5s ease background;
}

.item:first-child 
{
   border-top: 4px solid var(--face);
}

.item:nth-of-type(2)
{
   border-top: 4px solid var(--twitter);
}

.item:nth-of-type(3)
{
   border-top: 4px solid transparent;
   border-image: var(--instagram) 1;
}

.item:last-child
{
   border-top: 4px solid var(--youtube);
}

.social 
{
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 25px;
   font-size: 11.5rem;
   font-weight: 700;
   letter-spacing: 0.3rem;
}

.social img 
{
   margin-right: 7px;
}

.followers 
{
   padding-bottom: 25px;
}

.item:first-child .followers p:last-child 
{
   color:  var(--lima-white);
   transition: 0.5s;
}

.followers p:first-child 
{
   font-size: 50rem;
   font-weight: 700;
   margin-top: 20px;
   color: var(--lightDark);
   transition: 0.5s;
}

.followers p:nth-of-type(2)
{
   font-size: 12.5rem;
   font-weight: 400;
   letter-spacing: 3.5px;
   text-transform: uppercase;
   margin-top: 2px;
   margin-bottom: 25px;
   transition: 0.5s;
}

.followers p:last-child, .views p:last-child
{
   color: var(--lima);
   font-size: 11.5rem;
   font-weight: 700;
   letter-spacing: 0.3rem;
}

.followers p span, .views p span
{
   background-image: url(https://omarsav.com/pictures/frontmentor/icon-up.svg);
   width: 8px;
   height: 8px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   display: inline-block;
   margin-right: 2px;
}

.followers p .down, .views p .down
{
   background-image: url(https://omarsav.com/pictures/frontmentor/icon-down.svg);
}

.item .followers .negative, .item2 .views .negative
{
   color: var(--youtube);
}

.statistics h2 
{
   font-size: 22.5rem;
   margin: 50px 0 30px;
   letter-spacing: 0.5px;
   color: var(--overview);
   transition: 0.5s;
}

.container2
{
   display: grid;
   grid-template: repeat(8, 1fr) / 1fr;
   row-gap: 15px;
}

.item2 
{
   padding: 25px 25px 20px;
}

.red-social, .views
{
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
}

.red-social
{
   margin-bottom: 22px;
}

.red-social p
{
   font-size: 13.5rem;
   font-weight: 700;
}

.views p:first-child 
{
   font-size: 30rem;
   font-weight: 700;
   color: var(--lightDark);
   transition: 0.5s;
}

.views p:last-child 
{
   font-size: 12px;
   font-weight: 700;
   margin-bottom: 5px;
}